nav{
    height: 87px;
    border: 9px solid #f26716;
    background-color: #f2e0DC;
    overflow: hidden;
}

.navbartext{
    display: flex;
    
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    font-size: 20px;
    font-style:normal;
    padding-top: 20px;
    

        li{

        display: inline;
        justify-content: space-between;
        padding-left: 40px;  
        padding-right: 40px;
        padding-top: 20px;
        padding-bottom: 20px;
        margin-top: 0%;
        
         
        
    }

        a{
            text-decoration: none;
            color: #5b83a6;


        }
}

.navbartext li:hover{

    background-color: #033159;
    margin-top: 0%;
    height: 100%;
        a{
            color: #f2e0DC;
            
        }



}

.navbartext ul{
    margin: 0%;
    padding: 0%;

}

@media (max-width: 469px) {

  
  .navbartext a{

    // color: #000000;
    margin-top: 200px;
    size: auto;
  }

    .navbartext li{

        display: inline-block;
        width: auto;

    }


    .navbartext {

        padding-top: 0%;
        width: auto;

    }

}